<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/globals.css" th:href="@{/css/globals.css}" rel="stylesheet" />
    <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link href="../static/css/alquileres.css" th:href="@{/css/alquileres.css}" rel="stylesheet" />
    <title>Lista de Alquileres</title>
</head>
<body>
<header th:insert="~{fragments/navbar :: navbar}"></header>

<main class="layout">
    <section class="alquileresContainer">
        <div class="alquilerCard">
            <div class="vehiculoInfoContainer">
                <img>
                <div class="vehiculoInfo">
                    <div class="vehiculoInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Marca:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Matrícula:</h2>
                        <p>Corolla</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Color:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Capacidad:</h2>
                        <p>200L</p>
                    </div>
                </div>
            </div>
            <div class="clienteInfoContainer">
                <img>
                <div class="clienteInfo">
                    <div class="clienteInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Nombre:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Email:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Teléfono:</h2>
                        <p>Rojo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alquilerCard">
            <div class="vehiculoInfoContainer">
                <img>
                <div class="vehiculoInfo">
                    <div class="vehiculoInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Marca:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Matrícula:</h2>
                        <p>Corolla</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Color:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Capacidad:</h2>
                        <p>200L</p>
                    </div>
                </div>
            </div>
            <div class="clienteInfoContainer">
                <img>
                <div class="clienteInfo">
                    <div class="clienteInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Nombre:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Email:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Teléfono:</h2>
                        <p>Rojo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alquilerCard">
            <div class="vehiculoInfoContainer">
                <img>
                <div class="vehiculoInfo">
                    <div class="vehiculoInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Marca:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Matrícula:</h2>
                        <p>Corolla</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Color:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="vehiculoInfoItem">
                        <h2>Capacidad:</h2>
                        <p>200L</p>
                    </div>
                </div>
            </div>
            <div class="clienteInfoContainer">
                <img>
                <div class="clienteInfo">
                    <div class="clienteInfoItem">
                        <h2>ID:</h2>
                        <p>1</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Nombre:</h2>
                        <p>Toyota</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Email:</h2>
                        <p>Rojo</p>
                    </div>
                    <div class="clienteInfoItem">
                        <h2>Teléfono:</h2>
                        <p>Rojo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
